<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Profili javnih osoba</title>
	<meta name="author" content="your name" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="{{ url_for('static', filename='webPageStyle.css') }}" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script type=text/javascript>
        $(function() {
          $('a#testCrawlTopicSave').bind('click', function() {
        	$('#loader1').show();
            $.getJSON('/startCrawlerSentiment', 
               { numofarticles : $('input[name="numart"]').val(),
            	 portal : $('#selectedPortal').find(":selected").text() },
                function(data) {
            		$('#loader1').hide();
            		$('input[name="numart"]').val("");
            		$('#selectedPortal').val("");
              //do nothing
            });
            return false;
          });
        });
	</script>
	
	<script type=text/javascript>
        $(function() {
          $('a#testFindAll').bind('click', function() {
        	$('#loader2').show();
            $.getJSON('/startFindAll',
                function(data) {
            		$('#loader2').hide();
              //do nothing
            });
            return false;
          });
        });
	</script>

	
	<script type=text/javascript>
        $(function() {
          $('a#testPosNegWords').bind('click', function() {
        	$('#loader3').show();  
            $.getJSON('/startPosNegWords',
                function(data) {
            		$('#loader3').hide();
              //do nothing
            });
            return false;
          });
        });
	</script>
	
	<script type=text/javascript>
        $(function() {
          $('a#testSVM').bind('click', function() {
        	$('#loader4').show();
            $.getJSON('/startSVM',
                function(data) {
            		$('#loader4').hide();
            		$('#result').text(data.result);
            });
            return false;
          });
        });
	</script>	
</head>

<body>

	<div id="page">
		<div id="content">
			<div id="nav">
			 	<div class="outcontainer">
					<div class="incontainer">
						<div class ="container">
								<a target="_blank" href="showPolitics">
									<img src="static/images/politika.jpg" class="image" alt="Politika" />
								</a>
								<div class="middle">
									<div class="text">Politika</div>
								</div>
						</div>
						<div class = "container">
								<a target="_blank" href="showMusic">
									<img  src="static/images/glazba.jpg" class="image" alt="Glazba" />
								</a>
								<div class="middle">
									<div class="text">Glazba</div>
								</div>
						</div>
						<div class = "container">
								<a target="_blank" href="showSport">
									<img  src="static/images/sport.jpg" class="image" alt="Sport" />
								</a>
								<div class="middle">
									<div class="text">Sport</div>
								</div>					
						</div>
						
					</div>
					<div>
							<div id="logo">
								<form>
									<a href=# id=testCrawlTopicSave class="action-button shadow animate blue">Crawl
										<i id=loader1 class="fa fa-refresh fa-spin" style="display:none; float:right;"></i>
									</a>
									<input class="inputart" type=text name=numart placeholder="Number of articles to crawl">
									<div class="sel">			
											<select id=selectedPortal class="selectport">
    												<option selected value="0">Odaberite portal:</option>
    												<option value="1">Jutarnji list</option>
    												<option value="2">Index</option>
    												<option value="3">24sata</option>
    												<option value="3">Večernji list</option>
											</select>
									</div>
								</form>
							</div>
							<div id="logo">
								<form>
									<a href=# id=testFindAll class="action-button shadow animate green">Find all
										<i id=loader2 class="fa fa-refresh fa-spin" style="display:none; float:right;"></i>
									</a>
									
								</form>
							</div>
							<div id="logo">
								<form>
									<a href=# id=testPosNegWords class="action-button shadow animate yellow">Pos and Neg Words
										<i id=loader3 class="fa fa-refresh fa-spin" style="display:none; float:right;"></i>
									</a>
									
								</form>
							</div>
							<div id="logo">
								<form>
									<a href=# id=testSVM class="action-button shadow animate red">SVM Model
										<i id=loader4 class="fa fa-refresh fa-spin" style="display:none; float:right;"></i>
									</a>
								</form>
							</div>
							<div id=result></div>					
					</div>  
					<div class="incontainer">
						<div class = "container">
								<a target="_blank" href="showTheatre">
									<img src="static/images/kazaliste.jpg" class="image" alt="Kazalište" />
								</a>
								<div class="middle">
									<div class="text">Kazalište</div>
								</div>
						</div>
						<div class = "container">
								<a target="_blank" href="showTV">
									<img src="static/images/TV.jpg" class="image" alt="TV" />
								</a>
								<div class="middle">
									<div class="text">TV</div>
								</div>
						</div>
						<div class = "container">
								<a target="_blank" href="showBusiness">
									<img  src="static/images/poduzetnistvo.jpg" class="image" alt="Poduzetništvo" />
								</a>
								<div class="middle">
									<div class="text">Poduzetništvo</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<p>
				Webpage made by <a href="/" target="_blank">Katarina</a>
			</p>
		</div>
	</div>
</body>
</html>
