<!DOCTYPE html>
<html>
<head>

	<title>Profili javnih osoba</title>
	<meta name="author" content="your name" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="{{ url_for('static', filename='webPageStyle.css') }}" type="text/css" />
	
	
</head>

<body>
	<div id="page">
		<div id="logo">
			<h1><a href="/" id="logoLink">Profili javnih osoba</a></h1>
		</div>
		<div id="content">

				<div id="nav">
					<ul>
						<li><a href="showPolitics">Politika</a></li>
						<li><a href="showMusic">Glazba</a></li>
						<li><a href="showSport">Sport</a></li>
						<li><a href="showTheatre">Kazaliste</a></li>
						<li><a href="showTV">TV</a></li>
					</ul>	
				</div>
		</div>
		<div id="footer">
			<p>
				Webpage made by <a href="/" target="_blank">Katarina</a>
			</p>
		</div>
	</div>
</body>
</html>
